<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ClassroomManager.Services.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="ClassroomManager.Services.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ClassroomManager.Services/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ClassroomManager.Services.UserService">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding"
          contract="ClassroomManager.Services.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ClassroomManager.Services/UserService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ClassroomManager.Services.ThietBiService">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding"
          contract="ClassroomManager.Services.IThietBiService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ClassroomManager.Services/ThietBiService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ClassroomManager.Services.PhongHocService">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding"
          contract="ClassroomManager.Services.IPhongHocService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ClassroomManager.Services/PhongHocService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ClassroomManager.Services.ThietBiPhongHocService">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding"
          contract="ClassroomManager.Services.IThietBiPhongHocService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ClassroomManager.Services/ThietBiPhongHocService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ClassroomManager.Services.ThongTinBanGiaoService">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding"
          contract="ClassroomManager.Services.IThongTinBanGiaoService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ClassroomManager.Services/ThongTinBanGiaoService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp
            faultExceptionEnabled="true"
            defaultOutgoingResponseFormat="Json"
            automaticFormatSelectionEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>